<div>
  <div>
    <%= f.label :title, "タイトル", class: "required"%>
    <%= f.text_field :title, size: 30, required: true %>
  </div>
  <div>
    <%= f.label :body, "本文", class: "required" %>
    <%= f.text_area :body, size: 1000, required: true %>
  </div>
</div>